
.super-mario{

width: 400px;
}
.goomba{
  width: 400px;
}
.word{
  position: absolute;
  top: 18%;
  z-index: 2;
  left: 780px;
}
.baloon{
  position: absolute;
  top: 10%;
  right: 26%;
  z-index: 1;
  width: 270px;
 
}
.bowser{
  position: static;
  float: right;
  width: 400px;
}
